{% extends 'base.html' %}

{% block title %}PAWReg - Console{% endblock %}

{% block content %}
<div class="pt-5 row">
    <div class="col-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Admin</h5>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="{% url 'console:events-list' %}" class="nav-link">Events</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title">Registration</h5>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="" class="nav-link">Registrations</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        {% block console_section %}
        {% endblock %}
    </div>
</div>
{% endblock %}