{% extends 'console_index.html' %}

{% block title %}PAWReg - Console - New Membership{% endblock %}

{% block console_section %}
<div class="row">
    <div class="col">
        <h1>New Membership</h1>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <form action="{% url 'console:memberships-create' event.id %}" method="post" class="form">
            {% csrf_token %}
            {{form.as_div}}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}